[submodule "cpp/thirdparty/spdlog"]
	path = cpp/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "cpp/thirdparty/sqlpp11"]
	path = cpp/thirdparty/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
	branch = main
[submodule "cpp/thirdparty/ta-lib"]
	path = cpp/thirdparty/ta-lib
	url = https://github.com/TA-Lib/ta-lib.git
	branch = main
[submodule "cpp/thirdparty/dotenv-cpp"]
	path = cpp/thirdparty/dotenv-cpp
	url = https://github.com/laserpants/dotenv-cpp.git
	branch = master
[submodule "cpp/thirdparty/json"]
	path = cpp/thirdparty/json
	url = https://github.com/nlohmann/json.git
	branch = develop
[submodule "cpp/thirdparty/cpp-httplib"]
	path = cpp/thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
	branch = master