# build
build/
cpp/build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
yarn.lock
package-lock.json
.pnp
.pnp.js

# Data
data/
*.db
*.sqlite
*.sqlite3

# Logs
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
*.pem
*.key
